@import "base";

header
{
	z-index:60;
	position: fixed;
	top: 0;
	right: 0;
	left: 0; height: 80px;
	background: #fff;
	border-bottom: 1px solid #ccc;

	#headerLogo { height:60px; margin: 3px 0 18px; .animate(); }
	.right { position: absolute; right:0; bottom:8px; text-align: right; }
}

#headerHolder { height: 60px;  }

footer
{
	border-top:1px solid #aaa;
	margin-top: 50px!important;		//In case over-written by "center" margin
	padding: 30px 0;

}

@media @phoneScreenConfig
{

}